 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I love programming and building things. I am open to trying new ideas, languages or just technology in general. I did not switch careers or get into programming just to be hip or because it was a huge opportunity to be in a good well paying profession. I enjoyed it before I really thought about those benefits.</p>
                </div>
                <div class="col-lg-4">
                    <p>I believe that experience in the latest and greatest frameworks, while important and useful, should not be more important than experience and solid fundamentals. I believe that a good programmer should be able to pick-up any specific frameworks or libraries without a lot of time spent.</p>
                </div>
            </div>
        </div>
    </section>
