<!-- Contact Section -->
   <section id="contact">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2><b class="fa fa-picture-o"></b> Contact me</h2>
                   <hr class="star-primary">
               </div>
           </div>
           <div class="row">
               <div class="col-lg-8 col-lg-offset-2">
                 <div id="contact_basic">
                   <ul class="list-inline text-center">
                       {% for network in site.social-contact %}
                       <li>
                           <a href="{{ network.url }}" _target="blank" aria-label="Go to social site {{ network.url }}" class="btn-social btn-outline alt"><i class="nf nf-fa-{{ network.title }}"></i></a>
                       </li>
                       {% endfor %}
                   </ul>
                 </div><!-- /#contact_basic -->
               </div>
           </div>
       </div>
   </section>
