    <!-- Header -->
    <header>
        <div class="container">
			  <div class="row">
                <div class="col-lg-12">
                    <img id="about" class="img-responsive" src="img/profile.png" alt="Ryan L McIntyre profile image">
                    <div class="intro-text">
                        <h1 class="name">{{ site.title.header }}</h1>
                        <hr class="star-light">
                        <p>{{ site.skills.subheading }}</p>
                        <br/>
								<div class="quicklinks row">
									<div class="col-sm-6 col-md-6 col-xs-6 col-lg-6 text-right">
										<a href="#portfolio"><b class="nf nf-fa-picture_o"></b> Portfolio</a>
									</div>
									<div class="col-sm-6 col-md-6 col-xs-6 col-lg-6 text-left">
										<a href="RyanLMcIntyre-cv-resume.pdf"><b class="nf nf-fa-file_pdf_o"></b> Resume</a>
									</div>
								</div>
								<br/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p class="text-left">
I am a Full Stack Developer with a UI/UX ✨ focus working in the Seattle area.
I love programming and building things. I like finding multiple unique solutions to challenging problems.
I believe in moving fast and that perfect is the enemy of good. Move forward, build cool stuff without fear.
I'm an experienced full stack developer focused on UI and UX. I love programming and building things. I am open to trying new ideas, languages or just technology in general.
I care about code quality, maintainability, and readability.
			</p>
			                    <p class="text-left">
I am language and framework agnostic but currently heavily working with React, Redux, Vue.js, Python and Vimscript.
</p>
                </div>
                <div class="col-lg-4">
<p class="text-left">
Top Qualities<br/>
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾<br/>
❶ Not a jerk<br/>
❷ Cares about craft<br/>
❸ Gets things done<br/>
</p>
<p class="text-left">
Accomplishments<br/>
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾<br/>
• Successfully delivered over 20 high quality professional web applications, including enterprise level SaaS web apps<br/>
• Integrated and developed several slick UI/UX heavy charts, grids, and dashboard components<br/>
• Delivered websites from mockup stage to fully featured pixel perfect implementations<br/>
• Designed and implemented database components, import/export scripts, and query performance analysis<br/>
• Implemented test strategy from unit tests to automated integration testing<br/>
• Improved SEO & Google Page Rank for multiple websites<br/>
• Created Nerd Fonts: Iconic font aggregator, collection, and patcher<br/>
• Created VimDevIcons: Adds icons to popular Vim plugins<br/>
• Extended feature set and optimized performance of custom JS datagrid by 90% cross browser<br/>
• Built new processes and automated build tasks<br/>
• Improved various websites performance through minification, CSS sprites, and tooling recommendations<br/>
</p>
                </div>
            </div>
        </div>
    </header>
