    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <h1 class="name">{{ site.title.header }}</h1>
                        <hr class="star-light">
                        <h2 class="skills">{{ site.skills }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>
