
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><b class="fa fa-picture-o"></b> Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row text-center">
                <div>
                    <p>The following are my featured OSS projects that I have worked on:</p>
						  <br/><br/>
                </div>
            </div>
            <div class="row">
                {% for post in site.posts reversed %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/{{ post.img-sm }}" class="img-responsive" alt="{{ post.alt }}">
								</a>
								<br/>
								 <div>
									 <p>{{ post.description }}</p>
									 <p class="text-center">
										 <a href="{{ post.project-url }}" target="_blank" rel="noreferrer" aria-label="Go to Project page {{ post.title }}" class="btn-social btn-outline alt"><i class="nf nf-fa-github"></i></a>
										 {% if post.project-website-url %}
										 <a href="{{ post.project-website-url }}" target="_blank" rel="noreferrer" aria-label="Go to Project page {{ post.title }}" class="btn-social btn-outline alt"><i class="nf nf-mdi-web"></i></a>
										 {% endif %}
									 </p>
								 </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row text-center">
                <div>
						  <p>Not listed here are the many private or closed source projects I have worked on professionally.</p>
                    <p>To see my professional work and samples please <a href="#contact" aria-label="Go to Contact Me section">contact me below</a>.</p>
                </div>
            </div>
        </div>
    </section>
